<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Les Tickets</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>


<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div class="container my-5">
                    <div class="col-md-10">
                        <div >
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Id</th>
				                        <th>Description</th>
				                        <th>Logiciel</th>
				                        <th>Urgence</th>
				                        <th>Env d’ex</th>
				                        <th>Client</th>
                                        <th>Attribuer</th>
                                    </tr>
                                </thead>
                             <tbody>

			<tr th:each="t:${tickets}">
				<th th:text="${t.id}">Id</th>
				<td th:text="${t.description}">Description</td>
				<td th:text="${t.logiciel}">Logiciel</td>
				<td th:text="${t.urgence}">Urgence</td>
				<td th:text="${t.env_ex}">Env d’ex</td>
				<td th:text="${t.client_id.}">Client</td>




				<td> <a th:href="@{/tickets/attribuer/{id}(id=${t.id})}" />Attribuer</td>
			</tr>
		</tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>